.h31 {
  color: #834b96;
}

.MuiInputBase1, .MuiInputBase2 {
  height: 60px;
}

.p1{
  color: #834b96;
}

.button1{
  height: 60px;
  background-color: #834b96 !important;
  color: white !important;
}

.button2{
  height: 60px;
}

.span1{
  color: #834b96;
}