html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F0F2F7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background_primary{
  background: #F0F2F7;
}

.image_circle{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.message_container{
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;

}

.bg-white{
  background-color: white;
}

.lh-0{
  line-height: 0;
}

.h-100-p{
  height: 100%;
}

.h-80-p{
  height: 80%;
}

.h-max-content{
  height: max-content;
}

.outline-0{
  outline: 0
}